@model Blog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)

        </dt>

        <dd>
            <img src="@Url.Content(Model.MediaURL)" class="media-url-preview" style="width:auto;height:175px;" id="editor;" />
        </dd>
     
    </dl>
</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    @if (!Request.IsAuthenticated || (Request.IsAuthenticated && (!User.IsInRole("Admin") && !User.IsInRole("Moderator") && User.IsInRole("Externaluser")) ))
    {
        @Html.Partial("_SocialLogin")
    }
    else
    {
        using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="PostId" value="@Model.Id" />
            <textarea name="Body"></textarea>
            <input type="submit" id="social" value="Add Comment" />
        }
    }
</div>

@foreach (var comment in Model.Comments)
{
    <ul>
        <li>Posted by @comment.Author.FirstName @comment.Author.LastName at @comment.Created</li>
        <li>@comment.Body</li>
    </ul>

}

@section scripts {
    <script src="~/Content/js/BlogPostsDetails.js"></script>
}

