@using PagedList;
@using PagedList.Mvc;
@model PagedList<Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Home", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MediaURL)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().Published)
        </th>*@
        <th></th>
    </tr>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            <img src="@Url.Content(item.MediaURL)" class="media-url-preview" style="width:auto;height:175px;" />
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { slug = item.Slug }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
           
        </td>
    </tr>
}

</table>
