@model ShoppingApp.Models.Order
@{
    ViewBag.Title = "Checkout4";
}

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>Checkout - Order review</li>
                </ul>
            </div>

            <div class="col-md-9" id="checkout">

                <div class="box">
@using (Html.BeginForm("CheckoutStep4", "ShoppingCarts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

{

    @Html.AntiForgeryToken()
                        <h1>Checkout - Order review</h1>
                        <ul class="nav nav-pills nav-justified">
                            <li>
                                <a href="@Url.Action("Checkout", "ShoppingCarts", new { id = "1" })"><i class="fa fa-map-marker"></i><br>Address</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Checkout", "ShoppingCarts", new { id = "2" })"><i class="fa fa-truck"></i><br>Delivery Method</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Checkout", "ShoppingCarts", new { id = "3" })"><i class="fa fa-money"></i><br>Payment Method</a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("Checkout", "ShoppingCarts", new { id = "4" })"><i class="fa fa-eye"></i><br>Order Review</a>
                            </li>
                        </ul>

                        <div class="content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < ViewBag.shoppingCarts.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="hidden" name="OrderDetails[@i].ItemId" value="@ViewBag.shoppingCarts[i].ItemId" />
                                                    <input type="hidden" name="OrderDetails[@i].Quantity" value="@ViewBag.shoppingCarts[i].Count" />
                                                    <input type="hidden" name="OrderDetails[@i].UnitPrice" value="@ViewBag.shoppingCarts[i].Item.Price" />
                                                    <a href="#">
                                                        <img src="@Url.Content(ViewBag.shoppingCarts[i].Item.MediaUrl)" alt="@ViewBag.shoppingCarts[i].Item.Name">
                                                    </a>
                                                </td>
                                                <td>
                                                    <label>@ViewBag.shoppingCarts[i].Item.Name</label>
                                                </td>
                                                <td>@ViewBag.shoppingCarts[i].Count</td>
                                                <td>$@ViewBag.shoppingCarts[i].Item.Price</td>
                                                <td></td>
                                                <td>$@(ViewBag.shoppingCarts[i].Count * ViewBag.shoppingCarts[i].Item.Price)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th>$@ViewBag.itemTotal</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>                        
                        </div>
                        <!-- /.content -->

                        <div class="box-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("Checkout", "ShoppingCarts", new { id = "3" })" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Payment method</a>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">
                                    Place an order<i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                }
                </div>
            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">

                @{
                    Html.RenderPartial("~/Views/Shared/_OrderSummary.cshtml");
                }

            </div>
        </div>
    </div>
</div>