@using Microsoft.AspNet.Identity
<!-- *** NAVBAR ***
____________________________________________________ -->
@*<script src="~/Scripts/jQuery/jQuery-2.1.4.min.js"></script>*@


<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">           
                <a href="@Url.Action("Index", "Home")" class="navbar-brand home">
                    Happy Pooch
                    <img src="~/Content/img/dog-logo.jpg" class="hidden-xs" title="title" alt="additional title" />
                </a>                   
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs"></span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Products", "Index", "Items")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                }
               
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">
            
            @Html.Partial("_LoginPartial")

            @{Html.RenderAction("CartCount", "ShoppingCarts");}
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right" id="search-not-mobile">
                <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
            </div>

        </div>

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->
        @if (Request.IsAuthenticated)
        {
            <div class="username" style="text-align:right;clear:both;">
                <small>
                Welcome, @User.Identity.GetUserName()!
                </small>
            </div>
        }
       
    </div>
    <!-- /.container -->
    
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->
@*<script type="text/javascript" src="../../Scripts/jquery.autoresize.js"></script>*@
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@

