@{
    ViewBag.Title = "Home Page";
}
@model List<Blog.Models.BlogPost>

<!-- Top Navigation -->


<section id="hero" class="light-typo">
    <div id="cover-image" class="image-bg animated fadeIn"></div>
    <div class="container welcome-content">
        <div class="middle-text">
            <h1>Key Lime Pie Blog</h1>
            <h2><b>Key Lime Pie Blog</b> is a blog theme built with Bootstrap</h2>
            @*<a class="btn smooth-scroll" href="#start">Get Stated</a>*@
        </div>
    </div>
</section>

@foreach (var blogPost in Model)
{
    <div class="col-md-3">
        <div id="start" class="container content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <article class="clearfix">
                        <div class="post-date">
                            @blogPost.Created | @blogPost.CreatedBy.FirstName @blogPost.CreatedBy.LastName
                            <span><a href="@Url.Action("Details", "BlogPosts")">comments</a></span>
                        </div>
                        <h2>@blogPost.Title</h2>
                        <p>
                            @blogPost.Body use this resource to highlight the points of interest of your products. just a click to open a brief description of each point, allowing your user to get a deep and fast understanding of your product features. <a class="" href="post-typography.html">read more</a>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
}


    



