
@{
    ViewBag.Title = "_NavBar";
}

    <div id="wrap">
            <div id="main-nav" class="">
                <div class="container">
                    <div class="nav-header">
                        <a class="btn btn-blog outline-white pull-left left-buttons" href="/">Home</a>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {

                            <a class="btn btn-blog outline-white pull-left left-buttons"
                               href="@Url.Action("Index", "BlogPosts")"
                               data-toggle="modal"
                               data-target="@Url.Action("Posts", "Index", "BlogPosts")">Posts</a>
                            <a class="btn btn-blog outline-white pull-left"
                               href="@Url.Action("Index", "Comments")"
                               data-toggle="modal"
                               data-target="@Url.Action("Comments", "Index", "Comments")">Comments</a>
                            
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Moderator"))
                        {
                            <a class="btn btn-blog outline-white pull-left"
                               href="@Url.Action("Index", "Comments")"
                               data-toggle="modal"
                               data-target="@Url.Action("Comments", "Index", "Comments")">Comments</a>

                        }
                        @if (Request.IsAuthenticated)
                        {
                            <a class="btn btn-blog outline-white pull-right"
                               href="@Url.Action("LogOff", "Account")">Logout</a>
                            <div class="username" style="text-align:right;color:white;padding:0px;">
                                <a href="@Url.Action("profile", "Account")">
                                    Welcome, @User.Identity.Name! &nbsp
                                </a>
                            </div>


                        }
                      
                        else
                        {
                            <a class="btn btn-blog outline-white pull-right"
                               href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                            <a class="btn btn-blog outline-white pull-right"
                               href="@Url.Action("Register","Account")">Register</a>
                        }

                    </div>
                </div>
            </div>
        </div>
  

